body {
  font-family: "poppins", -apple-system, BlinkMacSystemFont, Roboto, "Arial", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

main {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
}

nav {
  height: 10vh;
  display: flex;
  align-items: center;

}

#logo {
  width: fit-content;
  height: fit-content;
  margin: 10px 0px 0px 30px;
}

nav>div {
  width: 50%;
  height: 100%;
  background: #0f1b29;
  display: flex;
  align-items: center;

}

nav img {
  width: 184px;
  height: 44px;
}

#main1 {
  text-align: justify;
  color: white;
  height: 700px;
  width: 50%;
  background: #0f1b29;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
  font-weight: 400;
}

#main1 p {
  font-size: 18px;
  font-family: sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
  font-weight: 800;
  font-size: 28px;
}

#container {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

#upper {
  height: 50%;
}

#upper>h2>span {
  color: red;
}


#main2 {
  height: 700px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#form {

  display: grid;
  width: 90%;
  height: 80%;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  row-gap: 25px;
}

#form>div {
  display: grid;
  row-gap: 25px;
  width: 400px;
}

label {
  display: block;
  font-size: small;
  color: black;
  padding-bottom: 5px;
  font-weight: 600;
}

label span {
  color: red;
}

input {
  width: 96%;
  height: 30px;
  border: 1px solid rgb(198, 191, 191);
  border-radius: 4px;
  padding-left: 8px;
}


#submit-p {
  width: 100%;
  height: 30px;
}

#submit {
  width: 100%;
  height: 40px;
  background-color: rgb(255, 0, 119);
  border-radius: 7px;
  color: white;
  font-weight: 501;
  border: 1px transparent;
  cursor: pointer;
}

#goToLogin {
  background-color: green;
  color: white;
  border: 1px solid #06D85F;
  width: 20%;
  height: 30px;
}

#goToLogin:hover {
  background-color: #06D85F;
}

.carousel {
  background: #0f1b29;
  width: 100%;
  position: relative;
  top: 15%;
}

.carousel img {
  width: 170px;
}

.carousel-cell {
  width: 32%;
  text-align: center;
}

.previous,
.next {
  display: none;
}

.flickity-page-dots {
  display: none;
}

.carousel-cell:before {
  display: block;
}

@media all and (min-width:1181px) and (max-width:1663px) {
  .carousel {
    background: #0f1b29;
    width: 100%;
    position: relative;
    top: 15%;
  }

  .carousel img {
    width: 120px;
  }

  .carousel-cell {
    width: 32%;
    text-align: center;
  }

  .previous,
  .next {
    display: none;
  }

  .flickity-page-dots {
    display: none;
  }

  .carousel-cell:before {
    display: block;
  }
}

@media all and (min-width:500px) and (max-width:1195px) {
  main {
    flex-wrap: wrap;
  }

  nav>div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #main1 {
    width: 100%;
    height: 90vh;

  }

  main2 {
    width: 100%;
  }

  .carousel {
    background: #0f1b29;
    width: 100%;
    position: relative;
    top: 20%;
  }

  .carousel img {
    width: 120px;
  }

  .carousel-cell {
    width: 32%;

    text-align: center;
  }
}

@media all and (min-width:0px) and (max-width:499px) {
  .carousel {
    display: none;
  }

  main {
    flex-wrap: wrap;
  }

  nav>div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #main1 {
    width: 100%;
    text-align: center;
    height: 90vh;

  }

  main2 {
    width: 100%;
  }

  #container {
    width: 90%;
  }

  #form>div {
    display: grid;
    row-gap: 25px;
    width: 90vw;
  }
}

.overlay {
  position: fixed;
  z-index: 1000;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup #close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;

}

.popup #close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}