* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppins", -apple-system, BlinkMacSystemFont, Roboto, "Arial", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#footer {
    background-color: #0f1b29;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 100px;
    gap: 50px;
}

#footer_top {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 90%;
    margin: auto;
    padding-left: 50px;
}

#footer_top div {
    display: flex;
    gap: 20px;
}

#footer_middle {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

#footer_middle div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#footer_middle a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    line-height: 1.8rem;
}

#footer_middle li,
#footer_bottom p,
#footer_bottom a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    opacity: .6;
    text-decoration: none;
    line-height: 1.8rem;
}

#footer_middle span {
    background-color: #00ba77;
    padding: 4px 5px;
    border-radius: 5px;
    font-size: 9px;
}

#footer_middle li:hover,
#footer_bottom p:hover,
#footer_bottom a:hover,
.fa-brands:hover {
    transition-duration: .6s;
    color: white;
    opacity: 1;
}

#footer_bottom {
    display: flex;
    justify-content: space-around;
    background-color: #0c1622;
    padding: 13px 55px;
}

.fa-brands {
    color: #6c757d;
    font-size: 17px;
}

#footer_bottom>div:nth-child(2) {
    display: flex;
    gap: 25px;
}

@media screen and (max-width: 991px) {
    #footer {
        clip-path: none;
    }

    #footer_top {
        flex-direction: column;
        padding-left: 0px;
    }

    #footer_middle {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #footer_middle div {
        align-items: center;
    }

    #footer_bottom {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 574px) {
    #footer_middle {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 347px) {
    #footer_bottom div:nth-child(2) {
        flex-direction: column;
        align-items: center;
    }
}
